{% extends 'home/layout.html' %}
{% load static %}

{% block title %}
  Resources Center
{% endblock %}
{% block body %}
  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h4 class="h4">Resource Center</h4>
      <div class="btn-toolbar mb-2 mb-md-0">
        <a class="link-secondary" href="#" aria-label="Add a new report" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <svg class="bi">
            <use xlink:href="#plus-circle"></use>
          </svg>
        </a>
      </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Add Resource</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="{% url 'resources'%}" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="mb-3">
                <label for="course" class="form-label">Select Course</label>
                <select class="form-select" id="course" name="course">
                  <option value=""></option>
                  {% for course in courses %}
                  <option value="{{course.course_code}}">{{course.course_title}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title">
              </div>
              <div class="mb-3">
                <label for="description" class="form-label">Description</label><br>
                <textarea name="description" id="description" rows="3" class="form-control"></textarea>
              </div>
              <div class="mb-3">
                <label for="upload_file" class="form-label">Upload File</label><br>
                <input type="file" class="form-control" id="upload_file" name="file">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g3 gap-3">
        {% for resource in resources %}
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" style="object-fit: contain; width: 60%; display: flex; margin: 0 auto;" src="{% static 'courses/pdf_109.webp' %}" alt="" />
            <title>{{ resource.title }}</title>
            {% comment %} <svg xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
              <title>{{ resource.title }}</title><rect width="100%" height="100%" fill="#55595c"></rect>
              <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
            </svg> {% endcomment %}
            <div class="card-body">
              <h5 class="h5">{{ resource.title }}</h5>
              <p class="card-text" style="font-size: 12px; margin: 10px 0;">{{ resource.description }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Download</button>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </main>
{% endblock %}
